<header>
    <nav class="navbar">
        <div class="links_div">
            <ul class="links">
                <li><a href="#">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Posts</a></li>
            </ul>
        </div>
        <div class="logo">
            <a href="#" >
                <img src="" alt="">
            </a>
        </div>
        <div class="action_div">
            <ul class="links">
                <li><a href="#">Iniciar Sesion</a></li>
                <li><a href="#">Registrate</a></li>
                <li><a href="#">Config</a></li>
            </ul>
        </div>

    </nav>
</header>